

body { background-color:#FFFCE6;
font-family: Aerial, sans-serif;
                font-size: 100%;
				margin-top: 50px;
        		margin-right: 120px;
		        margin-bottom: 50px;
		        margin-left: 120px;
				padding:50;
            }
@media screen and (max-width: 768px) { 
body {
        margin-left: 10px !important; /* Example: reduce left margin */
        margin-right: 10px !important; /* Example: reduce right margin */
	font-size: 100% !important;
}
}
nav { font-size: 130%; 
}
@media screen and (max-width: 768px) { 
nav { font-size: 130%; 
}
}

header { background-color: #B3D9D9;
	font-family: Aerial, sans-serif;
font-size: 130%;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
		border:10px solid #FFF7B3;
	   }
@media screen and (max-width: 768px) { 
font-family: Aerial, sans-serif;
font-size: 180%;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
		border:8px solid #FFF7B3;
}
	

.list-container {
            width:100%; /* Example width */
				margin-top: 10px auto;
        		margin-right: 120px auto;
		        margin-bottom: 10px auto;
		        margin-left: 120px auto;
				padding:50;
        }

#rcorners3 {
  border-radius: 0%;
  background: #FFF7B3;
  padding: 0px; 
  width: 100%;
	height: 60px;
}	

  ul {
  	display: flex; /* Initialize a flex container */
  	flex-wrap: wrap; /* Allow items to wrap onto new lines */
  	width: 100%; /* Define the available width for wrapping */
	list-style-type: square;
    	position: relative;
    		 font-size: 100%;
    	white-space: normal; /* Ensures text wrapping */
}

li {
list-style-type: square;
	width:90%;
	 font-size: 90%;
}

@media screen and (max-width: 768px) { 
li {
list-style-type: square;
	width:90%;
	 font-size: 90%;
}
}


a:link {
  color:#045D5D;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: gold;
  background-color: transparent;
  text-decoration: underline;
}

table {
  font-family: Aerial, sans-serif;
font-size:100%;
  border-collapse: collapse;
  width: 100%;
	margin:auto;
}

 .responsive-table {
        width: 100%;
	 font:100%;
        overflow-x: auto; /* Enables horizontal scrolling */
	  overflow-y: auto; /* Enables horizontal scrolling */
    }

@media screen and (max-width: 768px) { 
table {
	font-family: Aerial, sans-serif;
font-size:200%;
  border-collapse: collapse;
  width: 100%;
	margin:auto;
}

	 .responsive-table {
		 width: 100%;
	 font:200%;
        overflow-x: auto; /* Enables horizontal scrolling */
	  overflow-y: auto; /* Enables horizontal scrolling */
    }
}

td, th {
  border: 2px solid #B3D9D9;
  text-align: left;
  padding: 10px;
	font-size:100%;
}

@media screen and (max-width: 768px) { 
td, th {
  border: 2px solid #B3D9D9;
  text-align: left;
  padding: 10px;
	font-size:100%;
}
}

tr:nth-child(even) {
  background-color: #FFF7B3;
}

@media screen and (max-width: 768px) { 
tr:nth-child(even) {
  background-color: #FFF7B3;
}
}


.site-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
	/* margin-right:15px;
	margin-left:15px; 
	padding:10px; */
	font-size:120%;
}

@media screen and (max-width: 768px) { 
	.site-header{
		display: flex;
  justify-content: space-around;
  align-items: center;
      padding: 5px !important; /* Example: reduce left margin */
        margin-right: 5px !important; /* Example: reduce right margin */
	font-size: 150%;

}
}

footer {/*background-color: #B3D9D9;-->*/
	clear: both; 
	font-size: 70%;
		margin-top: 5px;
        		margin-right: 10px;
		        margin-bottom: 10px;
		        margin-left: 5px;
		padding:20px;
}


@media screen and (max-width: 768px) { 
	footer {/*background-color: #B3D9D9;-->*/
	clear: both; 
	font-size: 70%;
		margin-top: 5px;
        		margin-right: 10px;
		        margin-bottom: 10px;
		        margin-left: 5px;
		padding:20px;
}
}

