header {

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 0px;
 text-align:center;
  margin: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
font-family: Aerial, sans-serif;
font-size: 90%;

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}

}

#rcorners1 {
  border-radius: 50%;
  background: #FFFFE0;
  padding: 0px; 
  width: 20%;
  height:50;  
}
#rcorners2 {
  border-radius: 50%;
  background: #B3D9D9;
  padding: 0px; 
  width: 20%;
  height:50;  
}



body { background-image:url(background.png);
font-family: Aerial, sans-serif;
top-margin:5;
right-margin:120;
left-margin:120;
bottom-margin:5;
padding:20
            p {
                font-size: 16px;
}

                
            }

footer {

}
