header {

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 0px;
 text-align:center;
  margin: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
font-family: Aerial, sans-serif;
font-size: 100%;

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }

}

}

#rcorners1 {
  border-radius: 50%;
  background: #fff7b3;
  padding: 0px; 
  width: 20%;
  height:60;  
}
#rcorners2 {
  border-radius: 50%;
  background: #B3D9D9;
  padding: 0px; 
  width: 20%;
  height:60;  
}
#rcorners3 {
  border-radius: 0%;
  background: #fff7b3;
  padding: 0px; 
  width: 100%;
  height:50;  
}

  ul {
  	display: flex; /* Initialize a flex container */
  	flex-wrap: wrap; /* Allow items to wrap onto new lines */
  	width: 100%; /* Define the available width for wrapping */
	list-style-type: square;
    	position: relative;
    	padding-left: 5px;
    	white-space: normal; /* Ensures text wrapping */
}


li{
list-style-type: square;
}

body { /*background-image:url(background.png); */
background-color:#FFFFE7;
font-family: Aerial, sans-serif;
margin-top:10;
margin-right:120;
margin-left:120;
margin-bottom:10;
padding:20
            p {
                font-size: 14px;

}


                
            }

a:link {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #045D5D;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: gold;
  background-color: transparent;
  text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #B3D9D9;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #fff7b3;
}

footer {
                font-size: 11px;

}
